<div class="profile-buttons-container">
  <button mat-flat-button color="accent" *ngIf="!isLoggedIn && !isOnSigninPage" (click)="switchToSignin()">
    <mat-icon>login</mat-icon>
    <span>Sign In</span>
  </button>

  <div *ngIf="isLoggedIn" class="user-info-and-menu">
    <span class="user-role-name" *ngIf="(userDisplayName$ | async) || (userRole$ | async)">
      <span class="display-name" *ngIf="userDisplayName$ | async as name">{{ name }}</span>
      <span class="role-badge" *ngIf="userRole$ | async as role">{{ role }}</span>
    </span>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>account_circle</mat-icon>
    </button>
  </div>

  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="onProfile()">
      <mat-icon>person</mat-icon> <span>Profile</span>
    </button>
    <button mat-menu-item (click)="onLogout()">
      <mat-icon>logout</mat-icon> <span>Logout</span>
    </button>
  </mat-menu>
</div>